<header class="potato" th:fragment="potato" xmlns:th="http://www.thymeleaf.org">
    <h1>Welcome to CodeFellowship!</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/myprofile">View Your Profile</a>
        <a href="/feed">View Your Newsfeed</a>
        <a href="/userindex">View All Users</a>

<!--        TODO:-->

<!--        <span th:if="${p.name == ''}">-->
<!--            <a href="/login">Log In</a>-->
<!--        </span>-->
<!--        <span th:unless="${p.name == ''}">-->
<!--             <a href="/myprofile">My Profile</a>-->
<!--            <a href="/logout">Log out</a>-->
<!--        </span>-->


        <a href="/logout">Log out</a>
    </nav>
</header>