<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
</head>
<body>
    <h1>Sign up!</h1>
    <form action="/users" method="POST">
        <input name="username" /> Username<br/>
        <input name="password" /> Password<br/>
        <input name="firstName" /> First Name<br/>
        <input name="lastName" /> Last Name<br/>
        <input name="dateOfBirth" type="date" />Date of Birth<br/>
        <input name="bio" /> Bio<br/>
        <input type="submit" />
    </form>
</body>
</html>